body {background:#02609b url(../img/admin/login_bg.gif);
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	overflow:hidden}

/*html{background:#dae4e5;}*/