<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" type="text/css" href="../css/adminstyle.css">
<link rel="stylesheet" href="../css/admindefault.css">
<style type="text/css">
.txtFull{height:27px;width:290px; border-radius:3px;}
.txtName{height:27px;width:130px; border-radius:3px;}
.txtBetween{height:27px;width:80px; border-radius:3px;}
</style>
<script type="text/javascript" src="../js/adminjquery.min.js"></script>
<script type="text/javascript" src="../js/jquery.gdocsviewer.min.js"></script>
<script type="text/javascript">

$(document).ready(function(){
	$('#embedURL').gdocsViewer({width: 800, height: 600});
});


</script>

</head>
<body>
<!-- 
==============================添加文件==============================
 -->	
<div class="mainbox">
  <table class="search_table" width="100%">
    <tbody>
    <tr><td style="width:60px">文件名称：</td><td style="text-align: left; font-weight: bold;">$!file.filename</td></tr>
    <tr><td>文件编号：</td><td style="text-align: left">$!file.filenumber</td></tr>
    <tr><td>文件标签：</td><td style="text-align: left">$!file.filenumber</td></tr>
      <tr>
        <td colspan="2">
          <div id="displayArea" style="text-align: center">
          <a href="http://localhost:8080/$!file.location" id="embedURL"></a>
          </div>
		  </td>
      </tr>
    </tbody>
  </table>
</div>
</body>
</html>
