<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" type="text/css" href="../css/adminstyle.css">
<link rel="stylesheet" href="../css/admindefault.css">
<style type="text/css">
.txtFull{height:27px;width:290px; border-radius:3px;}
.txtName{height:27px;width:130px; border-radius:3px;}
.txtBetween{height:27px;width:80px; border-radius:3px;}
</style>
<script type="text/javascript" src="../js/adminjquery.min.js"></script>
<script type="text/javascript">

$(document).ready(function(){
	
});

</script>

</head>
<body>
#if($error_msg)
<p class="error_msg">$error_msg</p>
#end
<!-- 
==============================用户列表==============================
-->	
    <div class="table-list">
      <table cellspacing="0" align="center" width="100%">
      	<colgroup>
            <col width="30">
            <col width="50">
            <col width="50">
            <col width="50">
            <col width="50">
            <col width="50">
            <col width="30">
        </colgroup>
        <thead>
			<tr align="center" valign="middle" class="editHeader" nowrap>
				<th>用户编号</th>
				<th>真实姓名</th>
				<th>登录名</th>
				<th>电话号码</th>
				<th>手机号码</th>
				<th>邮箱地址</th>
				<th>操作</th>
			</tr>
        </thead>
        <tbody>
        	#foreach($user in $users)
			<tr align="center" valign="middle" nowrap>
	            <td>$user.userid</td>
	            <td>$user.realname</td>
	            <td>$user.username</td>
	            <td>$user.phonenumber</td>
	            <td>$user.cellphonenumber</td>
	            <td>$user.email</td>
	            #if($user.roleid==1)
	            <td><a href='removeUser.html?userid=$user.userid'>删除用户</a></td>
	            #else
	            <td><a onclick="return confirm('您确定要删除该访客？')" href='removeVistor.html?userid=$user.userid'>删除用户</a></td>
	            #end
			</tr>
			#end
        </tbody>
      </table>     
    </div>
</div>
</body>
</html>
