<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" type="text/css" href="../css/adminstyle.css">
<link rel="stylesheet" href="../css/admindefault.css">
<style type="text/css">
.txtFull{height:27px;width:290px; border-radius:3px;}
.txtName{height:27px;width:130px; border-radius:3px;}
.txtBetween{height:27px;width:80px; border-radius:3px;}
</style>
<script type="text/javascript" src="../js/adminjquery.min.js"></script>
<script type="text/javascript">

$(document).ready(function(){
	
});

</script>

</head>
<body>
<!-- 
==============================添加产品==============================
 -->	
 
<div class="mainbox">
#if($error_msg)
<p class="error_msg">$error_msg</p>
#end

#if($info_msg)
<p class="info_msg">$info_msg</p>
#end
  <table class="search_table" width="100%">
    <tbody>
      <tr>
        <td>
          <div id="AddBox">
            <form name="myform" id="myform" action="processResetPassword.html" method="post" enctype="multipart/form-data">
            <div class="row"> <strong class="caption">原始密码:</strong>              
              <input type="password" class="txtFull" name="oldpass" placeholder="原密码" />
            </div>
            <div class="row"> <strong class="caption">新&nbsp;&nbsp;密&nbsp;码:</strong>
            	<input type="password" class="txtFull" name="newpass" placeholder="密码" />
            </div>
            <div class="row"> <strong class="caption">确认密码:</strong>
            	<input type="password" class="txtFull" name="repassword" placeholder="确认密码" />
            </div>
            <div class="row" style=" text-align:left; padding-left:135px;">
            	<input type="submit" class="button add" id="btnAdd" value="确认修改"/>
           	</div>
            </form>
          </div>
		  </td>
      </tr>
    </tbody>
  </table>
</div>
</body>
</html>
