<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" type="text/css" href="../css/adminstyle.css">
<link rel="stylesheet" href="../css/admindefault.css">
<style type="text/css">
.txtFull{height:27px;width:290px; border-radius:3px;}
.txtName{height:27px;width:130px; border-radius:3px;}
.txtBetween{height:27px;width:80px; border-radius:3px;}
.active{font-weight: bold; text-decoration: underline;}
</style>
<script type="text/javascript" src="../js/adminjquery.min.js"></script>
<script type="text/javascript" src="../js/flowplayer-3.2.13.min.js"></script>
</head>
<body>

<!-- 
==============================文件列表==============================
-->
<div class="table-list">
  <table cellspacing="0" align="center" width="100%">
    <colgroup>
        <col width="15">
        <col width="160">
    </colgroup>
    <tbody>
        <tr>
            <td>视频名称</td>
            <td>$file.viedoname</td>
        </tr>
        <tr>
            <td>视频类型</td>
            <td>$!file.videotype</td>
        </tr>
        <tr>
            <td>编制部门</td>
            <td>$!file.department</td>
        </tr>
        <tr>
            <td>编辑日期</td>
            <td>$!date.format('yyyy-MM-dd',$!file.datestamp)</td>
        </tr>
    </tbody>
  </table>
</div>
<div style="text-align: center;">
    <a  href="/$file.location" style="display:block;width:80%;height:80%" id="player"></a> 
    <script>
        flowplayer("player", "../js/flowplayer-3.2.18.swf");
    </script>
</div>

</body>
</html>
