<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" type="text/css" href="../css/adminstyle.css">
<link rel="stylesheet" href="../css/admindefault.css">
<link rel="stylesheet" href="../css/jquery-ui.min.css">
<link rel="stylesheet" href="../css/jquery-ui.theme.min.css">
<style type="text/css">
.txtFull{height:27px;width:290px; border-radius:3px;}
.txtName{height:27px;width:130px; border-radius:3px;}
.txtBetween{height:27px;width:80px; border-radius:3px;}
</style>
<script type="text/javascript" src="../js/adminjquery.min.js"></script>
<script type="text/javascript" src="../js/jquery-ui.min.js"></script>

<script type="text/javascript">

$(document).ready(function(){
});

function checkform() {

	if ($('#viedoname').val() == "") {
		alert("请输入文件名！");
		return false;
	}

	#if(!$!file.videoid)
	if ($('#file').val() == "") {
		alert("请上传文件！");
		return false;
	}
	#end

	return true;
}

</script>

</head>
<body>
#if($error_msg)
<p class="error_msg">$error_msg</p>
#end

#if($info_msg)
<p class="info_msg">$info_msg</p>
#end
<!-- 
==============================添加视频==============================
 -->
<div class="mainbox">
  <table class="search_table" width="100%">
    <tbody>
      <tr>
        <td>
          <div id="AddBox">
          #if($!file.videoid)
            <form name="myform" id="myform" action="processVideoEdit.html" method="post" enctype="multipart/form-data" onsubmit="return checkform()">
	            <input type="hidden" id="videoid" name="videoid" value="$!file.videoid" />
	            <input type="hidden" name="itemsPerPage" value="$!searchReq.itemsPerPage"/>
	   			<input type="hidden" name="currentPage" id="currentPage" value="$!searchReq.currentPage"/>
	   			<input type="hidden" name="sortnumber" id="sortnumber" value="$!searchReq.sortnumber"/>
	   			<input type="hidden" name="sortdate" id="sortdate" value="$!searchReq.sortdate"/>
	   			<input type="hidden" name="sorttype" id="sorttype" value="$!searchReq.sorttype"/>
	   			<input type="hidden" name="keyword" id="keyword" value="$!searchReq.keyword"/>
	   			<input type="hidden" name="searchcondtion" id="searchcondtion" value="$!searchReq.searchcondtion"/>
          #else
          	<form name="myform" id="myform" action="processVideo.html" method="post" enctype="multipart/form-data" onsubmit="return checkform()">
          #end

            <div class="row"> <strong class="caption">*视频名称:</strong>
                <input type="text" class="txtFull" name="viedoname" id="viedoname" placeholder="视频名称" style="width:600px" value="$!file.filename" />
            </div>
              <div class="row"> <strong class="caption">&nbsp;&nbsp;视频类型:</strong>
                  <input type="text" class="txtFull" name="videotype" id="videotype" placeholder="视频类型" value="$!file.videotype" />
              </div>
            <div class="row"> <strong class="caption">&nbsp;&nbsp;编制部门:</strong>
              <input type="text" class="txtFull" name="department" id="department" placeholder="编制部门" value="$!file.department" />
            </div>
            <div class="row"> <strong class="caption">&nbsp;&nbsp;关&nbsp;&nbsp;键&nbsp;字:</strong>
              <input type="text" class="txtFull" name="videolable" id="videolable" placeholder="请在每个标签中间用逗号分隔。例如：标签一，标签二" style="width:600px" value="$!file.filelabel" />
            </div>
            <div class="row"> <strong class="caption">&nbsp;&nbsp;视频简介:</strong>
            	<textarea rows="5" cols="95" id="videodesc" name="videodesc">$!file.filedesc</textarea>
            </div>
            <hr/>
            <div class="row"> <strong class="caption">*选择缩略图:</strong>
              <input type="file" class="txtFull" name="img" id="file" placeholder="上传缩略图" />
            </div>
            #if(!$!file.videoid)
            <div class="row"> <strong class="caption">*选择视频源:</strong>
              <input type="file" class="txtFull" name="file" id="file" placeholder="上传视频源" />
            </div>
            #end
            <div class="row" style=" text-align:left; padding-left:250px;">
            	<input type="submit" class="button add" id="btnAdd" value="提交"/>&nbsp;&nbsp;
           	</div>
            </form>
          </div>
		  </td>
      </tr>
    </tbody>
  </table>
</div>
</body>
</html>
