<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.debao.defiles.dao.mapper.CategoryVOMapper" >
  <resultMap id="BaseResultMap" type="com.debao.defiles.vo.CategoryVO" >
    <id column="CategoryID" property="categoryid" jdbcType="INTEGER" />
    <result column="CategoryName" property="categoryname" jdbcType="VARCHAR" />
    <result column="Root" property="root" jdbcType="BIT" />
    <result column="ParentCategoryID" property="parentcategoryid" jdbcType="INTEGER" />
    <result column="UserID" property="userid" jdbcType="INTEGER" />
    <result column="DateStamp" property="datestamp" jdbcType="TIMESTAMP" />
    <result column="Deleted" property="deleted" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    CategoryID, CategoryName, Root, ParentCategoryID, UserID, DateStamp, Deleted
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from category
    where CategoryID = #{categoryid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from category
    where CategoryID = #{categoryid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.debao.defiles.vo.CategoryVO" >
    insert into category (CategoryID, CategoryName, Root, 
      ParentCategoryID, UserID, DateStamp, 
      Deleted)
    values (#{categoryid,jdbcType=INTEGER}, #{categoryname,jdbcType=VARCHAR}, #{root,jdbcType=BIT}, 
      #{parentcategoryid,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{datestamp,jdbcType=TIMESTAMP}, 
      #{deleted,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.debao.defiles.vo.CategoryVO" >
    insert into category
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="categoryid != null" >
        CategoryID,
      </if>
      <if test="categoryname != null" >
        CategoryName,
      </if>
      <if test="root != null" >
        Root,
      </if>
      <if test="parentcategoryid != null" >
        ParentCategoryID,
      </if>
      <if test="userid != null" >
        UserID,
      </if>
      <if test="datestamp != null" >
        DateStamp,
      </if>
      <if test="deleted != null" >
        Deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="categoryid != null" >
        #{categoryid,jdbcType=INTEGER},
      </if>
      <if test="categoryname != null" >
        #{categoryname,jdbcType=VARCHAR},
      </if>
      <if test="root != null" >
        #{root,jdbcType=BIT},
      </if>
      <if test="parentcategoryid != null" >
        #{parentcategoryid,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="datestamp != null" >
        #{datestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null" >
        #{deleted,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.debao.defiles.vo.CategoryVO" >
    update category
    <set >
      <if test="categoryname != null" >
        CategoryName = #{categoryname,jdbcType=VARCHAR},
      </if>
      <if test="root != null" >
        Root = #{root,jdbcType=BIT},
      </if>
      <if test="parentcategoryid != null" >
        ParentCategoryID = #{parentcategoryid,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        UserID = #{userid,jdbcType=INTEGER},
      </if>
      <if test="datestamp != null" >
        DateStamp = #{datestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null" >
        Deleted = #{deleted,jdbcType=BIT},
      </if>
    </set>
    where CategoryID = #{categoryid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.debao.defiles.vo.CategoryVO" >
    update category
    set CategoryName = #{categoryname,jdbcType=VARCHAR},
      Root = #{root,jdbcType=BIT},
      ParentCategoryID = #{parentcategoryid,jdbcType=INTEGER},
      UserID = #{userid,jdbcType=INTEGER},
      DateStamp = #{datestamp,jdbcType=TIMESTAMP},
      Deleted = #{deleted,jdbcType=BIT}
    where CategoryID = #{categoryid,jdbcType=INTEGER}
  </update>
</mapper>